<div class="table">
  <div class="header-row row">
    <div>
      Odjazd:
    </div>
    <div>
      Z:
    </div>
    <div>
      do:
    </div>
    <div>
      kierowca:
    </div>
    <div class="slots">
      liczba miejsc:
    </div>
  </div>
  <div *ngFor="let course of courses" class="row">
    <div>
      {{course.time}}
    </div>
    <div>
      {{course.from}}
    </div>
    <div>
      {{course.to}}
    </div>
    <div>
      {{course.driver?.name || course.driver}}
    </div>
    <div class="slots">
      {{course.slots}}
    </div>
    <div class="button-container">
      <button class="button shadow-1" (click)="bookCourse(course)">zarezerwuj</button>
    </div>
  </div>
<button class="button shadow-1 add-course" *ngIf="loggedUser.email === 'admin'" (click)="toggleForm($event)">DODAJ KURS</button>
  <div class="form-modal" *ngIf="formOpened">
    <app-add-course-form (closeForm)="toggleForm($event)"></app-add-course-form>
  </div>
</div>
